@charset "utf-8";

* {
    margin: auto;
    padding: auto;
}

header{
    width: 100%;
    height: 200px;
    background-image: url(../img/gourmet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

header h1{
    color: black;
    -webkit-text-stroke: 1px yellow;
    position:absolute;
    font: xx-large;
    left: 1em;
    top:1em;
}

header h1.title:hover{
    color: rgb(14, 223, 219)
}


.btn a {
    right:35px;
    top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 40px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

.btn a:hover {
    color: #F2F2F2;
}

.btn01 a {
    background-color: #00E5FF;
    border: 1px solid #000000;
    border-radius: 35px;
}

.btn01 a:hover {
    background-color: #2800B9;
    border: 1px solid #333;
}

.btn01 a::before {
    position: absolute;
    transform: rotate(30deg);
    width: 12px;
    height: 1px;
    background-color: #333;
}

.btn01 a::after {
    position: absolute;
    top: 50%;
    width: 70px;
    height: 1px;
    background-color: #333;
}

.Button{
    display: flex;
    margin: 0px 300px;
    position: relative;
    top: 8em;
}

button{
    width: 130px;
    height: 35px;
    border-radius: 20px;
    margin: 0px 20px;
}

button.btncolor:hover{
    background-color: gray;

}

.btncolor.active{
    background-color: gray
}

.btncolor.active{
    background-color: gray;
}

body {
    background-color: white;
    background-image: url(../img/haikei.jpg); 
    background-size: contain;      
    background-attachment: fixed   
  }
 
a{
    text-decoration: none;
}


.box2{
    float: left;
    background-repeat: space;
    background-position:bottom;
    position: relative;
    height: 360px;
    width:  350px;
    padding:center;
    padding-right: 400px;
    padding: 2em 1em;
    color: #2c2c2f;
    background: white;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px 140px 100px ;
    text-align: center;
    border: solid 5px #b50b2af7;
    border-radius: 10px;
}





footer {
    height: 150px;
    color:white;
    background: linear-gradient(#e63f50,red);  
    text-align: center;
    line-height: 70px;
    clear:both;
    margin: 0 auto;
  }