@charset "utf-8";

* {
    margin: auto;
    padding: auto;
}

/*--------------ヘッダー-----------------*/
header{
    position: relative;
    width: 100%;
    height: 200px;
    background: linear-gradient(rgb(255, 217, 181), rgb(255, 145, 0));
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border:3px solid;
    border-color: rgb(55, 55, 55);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}


header h1{
    color: rgb(255, 255, 255);
    position: absolute;
    font: xx-large;
    left:1em;
    top:1em;
    transition: 0.3s;
}

header h1.title:hover{
    color: blue;
}

/* ここまで */


/* 検索ボタン*/
form{
    right:4em;
    top:40px;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 205px;
	height: 40px;
}

#searchButton{
    height: 2em;
    border-radius: 0.5em;
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

#searchButton:hover{
    background-color: grey;
}

#searchKeyword{
    height: 2em;
    border-radius: 5px;
    border:1px solid;
    border-color: hotpink;
}

/*ここまで*/

/* メニューバー */
.menu{
    text-align: center;
    width: 100%;
}
.menu li{
    display: inline-block;
    position: relative;
    top: 8em;
    width: 15%;
}
.menu a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    transition: 0.3s;
}
.menu a:hover{
    color: blue;
    text-decoration: underline;
}
li {
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
  }

 li+ li {  
    border-left: 0;
    border-right: 2px solid rgb(255, 255, 255);
  }

/* ここまで　*/

body {
    background-color: white;
    background-image: url(../img/haikei.jpg); 
    background-size: contain;      
    background-attachment: fixed ;  
  }
 
a{
    text-decoration: none;
}


.box2{
    float: left;
    background-repeat: space;
    background-position:bottom;
    position: relative;
    height: 380px;
    width:  350px;
    padding:center;
    padding-right: 400px;
    padding: 2em 1em;
    color: #2c2c2f;
    background: white;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px 125px 100px ;
    text-align: center;
    border: solid 5px #11f2eeb8;
    border-radius: 10px;
    font-weight: 900;
}

.box2 img{
    border: 1px solid;
}

.box2 a{
    color: blue;
    transition: 0.3s;
}

.box2 a:hover{
    color: rgb(255, 123, 0);
    text-decoration: underline;
}
.box2 p{
    margin-top: 1em;
}

footer {
    height: 50px;
    text-align: center;
    padding: 30px;
    background: linear-gradient(rgb(255, 217, 181), rgb(255, 145, 0));
    clear:both;
    color:white 
  }
