@charset "utf-8";

*{
    margin: auto;
    padding: auto;
}

header{
    position: relative;
    width: 100%;
    height: 200px;
    background: linear-gradient(rgb(255, 180, 110), blue);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border:3px solid;
    border-color: rgb(55, 55, 55);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}

h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    font: xx-large;
    left:1em;
    top:1em;
    transition: 0.3s;
}

header h1.title:hover{
    color: rgb(0, 238, 255);
}

/* 検索ボタン*/
form{
    right:4em;
    top:40px;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 205px;
	height: 40px;
}

#searchButton{
    height: 2em;
    border-radius: 0.5em;
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

#searchButton:hover{
    background-color: grey;
}

#searchKeyword{
    height: 2em;
    border-radius: 5px;
    border:1px solid;
    border-color: hotpink;
}

/*ここまで*/

/* メニューバー */
.menu{
    text-align: center;
    width: 100%;
}
.menu li{
    display: inline-block;
    position: relative;
    top: 8em;
    width: 15%;
}
.menu a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    transition: 0.3s;
    text-decoration: none;
}
.menu a:hover{
    color: rgb(255, 123, 0);
    text-decoration: underline;
}
li {
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
  }

  li+ li {  
    border-left: 0;
    border-right: 2px solid rgb(255, 255, 255);
  }


div.main{
    background-color: white;
    width: 80%;
    margin: auto;
}

/*詳細*/
div.box {
    display: flex;
    justify-content: space-around;
    margin: 40px auto 90px;
}

div.explan p{
    border-bottom: 2px solid rgb(95, 95, 95);
    margin: 1.5em;
}

.explan2 {
    position: relative;
    margin: 2em 0;
    padding: 0.7em 1em;
    border: solid 3px lime;
    border-radius: 8px;
    width: 21%;
    height: 20%;
    text-align: left;
} 

.explan2 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: lime;
    font-weight: bold;
}

.explan2 p {
    margin: 0; 
    padding: 0;
}
/*---------------------------------*/

/*詳細
div.ex {
    display: flex;
    justify-content: space-around;
    margin: 40px auto 90px;
}

div.explan p{
    line-height: 2;
    font-size: 20px;
    border-bottom: 2px solid #000;
}
/*
div.explan2 {
    margin-top: 20px;
}

div.explan2 p{
    font-size: 20px;
    border-bottom: 2px solid #000;
}
/*---------------------------------*/

/*.ex{
    display: flex;
    justify-content: space-around;
    margin: 40px auto 90px;
}

.explan{
    position: absolute;
    left: 170px;
}

.explan p{
    line-height: 2;
    font-size: 20px;
    border-bottom: 2px solid #000;
    width: 100%;
}
*/

/*table{
    position: absolute;
    top: 129%;
    right: 16%;
}

th{
    font-size: 30px;
}

td{
    text-align: left;
    font-size: 20px;
    padding: 5px 10px;
}

td{
    border-bottom: solid 2px black;
}
*/

footer{
    width: 100%;
    height: 150px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 70px;
}