@charset "utf-8";

*{
    margin: auto;
    padding: auto;
}

header{
    width: 100%;
    height: 200px;
    background: linear-gradient(rgb(0, 187, 31), rgb(107, 107, 107));
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border:3px solid;
    border-color: rgb(55, 55, 55);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}

header h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    font: xx-large;
    left:1em;
    top:1em;
    transition: 0.3s;
}

header h1.title:hover{
    color: rgb(0, 238, 255);
}

/* 検索ボタン */
form{
    right:4em;
    top:40px;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 205px;
	height: 40px;
}

#searchButton{
    height: 2em;
    border-radius: 0.5em;
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

#searchButton:hover{
    background-color: grey;
}

#searchKeyword{
    height: 2em;
    border-radius: 5px;
    border:1px solid;
    border-color: hotpink;
}

/*ここまで*/

/* メニューバー */
.menu{
    text-align: center;
    width: 100%;
}
.menu li{
    display: inline-block;
    position: relative;
    top: 8em;
    width: 15%;
}
.menu a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    transition: 0.3s;
    text-decoration: none;
}
.menu a:hover{
    color: rgb(255, 123, 0);
    text-decoration: underline;
}
li {
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
  }
  li+ li {  
    border-left: 0;
    border-right: 2px solid rgb(255, 255, 255);
  }

div.main{
    background-color: white;
    width: 80%;
    margin: auto;
}

div.main h2{
    margin-top: 50px;
    font-size: 30px;
}

div.main img{
    width:100%;
    height:450px;
    object-fit: cover;
}

div.center {
    margin-top: 10px;
    text-align: center;
}

.ex{
    display: flex;
    justify-content: space-around;
    margin: 40px auto 90px;
}

.explan{
    position: absolute;
    left: 170px;
}

.explan p{
    line-height: 2;
    font-size: 20px;
    border-bottom: 2px solid #000;
    width: 100%;
}

.explan2 {
    margin-top: 20px;
}

.explan2 p{
    display: -ms-flexbox;
    border-bottom: 2px solid #000;
    font-size: 20px;
    width: 100%;
}

table{
    position: absolute;
    top: 800px;
    right: 150px;
}

th,td{
    text-align: left;
    font-size: 20px;
    padding: 5px 10px;
}

td{
    border-bottom: solid 2px black;
}


/*アクセス経路*/
div.access{
    margin-top: 180px;
}

div.access p{
    font-size: large;
    margin-top: 25px;
    border-bottom: 2px solid #000;
}

/*マップ*/
.main iframe{
    display: block;
    clear:both;
}

/* footer{
    height: 150px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 70px;
} */

footer {
    margin-top: 3em;
    height: 50px;
    text-align: center;
    padding: 30px;
    background: linear-gradient(rgb(134, 204, 145), rgb(48, 121, 0));
    clear:both;
    color:white 
  }